.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.imageContainer {
  float: left;
}
p {
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#mint-button{
  background-color:#fff;
  color:#000;
  font-size:20px;
  padding:10px 60px;
  border-radius:5px;
  margin:10px 0;
  cursor:pointer;

}
#mint-whitelist{
  background-color:#fff;
  color:#000;
  font-size:20px;
  padding:10px 60px;
  border-radius:5px;
  margin:10px 0;
  cursor:pointer;

}
#Twitter{
  background-image: url(./twitter.png);
  color:#000;
  font-size:20px;
  padding:10px 60px;
  border-radius:5px;
  margin:10px 0;
  cursor:pointer;
}
.App-header {
  background-image: url(./bg.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
